:root {
  font-family: 'Inter', sans-serif; /* Use Inter font with fallback to sans-serif */
  font-weight: 600; /* Semi Bold */
  font-size: 1rem; /* 48 pixels */
  line-height: 0; /* Adjust line height for spacing */
  letter-spacing: 0.5px;
}